body{
    margin:10px;
    padding:0;
    font-family: 'Lato';
    font-size: 20px;
    background-color: #FEEBAF
}
.container {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    list-style: none;
    background-color: #8AC3B3;
    color: #FEEBAF;
    border: 5px solid #F6C768;
    
 
}
.container > li{
    padding: 15px;
    text-align: center;
}
.search{
 flex: 1;
}
.search-input{
    background-color: transparent;
    border: 0;
    width: 100%;
    outline: 0;
    font-size: 20px;
    border-bottom: 1px solid #FEEBAF;    
}
.search-input:focus{
    outline: none;
}
::placeholder, .search-input{
    color: #FEEBAF;
}


/*Media Queries*/
@media all and (max-width: 600px){
    .container{
        flex-wrap: wrap;
    }
    .container > li{
        flex: 1 1 43%;
    }
    .search-input{
        width: 50%;
        text-align: center;
    }
    
}

